body{
    background-color: rgb(247, 247, 247)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding: 0 32px;
}

i{
    &:hover{
        cursor: pointer;
    }
}

ul{
    list-style: none
}

@import 'nav';
@import 'section1';
@import 'section2';
@import 'section3';
@import 'section4';
@import 'section5';
@import 'section6';
@import 'section7';
@import 'footer';
@import 'modal';