form {
    width: 400px;
    height: 40vh;
    padding: 0 20px;
    background-color: rgb(245, 245, 245);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    position: fixed;
    z-index: 1000;
    left: calc(50% - 12.5%);
    top: calc(50vh - 20vh);
    border-radius: 25px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    color: white;
    background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);

    img {
        border-radius: 9999999px;
        width: 120px;
        height: 120px;
        object-fit: cover;
    }

    p {
        position: relative;
        right: -340px;
        top: 10px;
        cursor: pointer;
        font-size: 20px;
    }


    h4,
    h3 {
        font-weight: 400;
    }

    .txt {
        width: 100%;
        height: 25px;
        padding-left: 5px;
    }

    .sbmt {
        width: 100%;
        height: 35px;
        background-color: blue;
        color: white;
        border: none;
    }
}